@model UserApp.Web.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Edit Product";
}

<h2>Edit Product</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
    </div>

    <!-- CURRENT IMAGE PREVIEW -->
    @if (!string.IsNullOrEmpty(Model.ImageUrl))
{
    <div class="mb-3">
        <label>Current Image</label>
        <br />
        <img src="@Model.ImageUrl"
             width="120"
             style="border:1px solid #ddd; padding:5px;" />
    </div>
}
    <!-- NEW IMAGE UPLOAD -->
    <div class="mb-3">
        <label>Change Image</label>
        <input type="file" name="file" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>